/* .carousel-control-next-icon{
    background-image: url(../img/imgu.png);
}
.carousel-control-prev-icon{
    background-image: url(../img/imgi.png);
} */
.boxu {
    display: flex;
    flex-direction: column;
    background-color: #21598a;
    border-radius: 5%;
    overflow: hidden;
    color: #fff;
    padding: 5% 15%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the hover background color if 
  needed */
  overflow: inherit;
  /* border-radius: 5%; */
}

.content{
    padding: 50px 0px;
}

.sci {
    background-color: #337a56;
}

.com {
    background-color: #21598a;
}

.art {
    background-color: #5e2877;
}

@media screen and (max-width:940px) {
    .content{
        padding: 20px 0px;
    }
  }

