.bottext {
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    margin-left: 10px;
    border: 1px solid #000;
}

.botbtn {
    width: 200px;
}

.second {
    display: inline-flex;
    margin-top: 0px;
    width: 100%;
    padding: 20px;
}

.top {
    width: 100%;
    background-color: #6061b4;
    color: white;
    margin: 10px;
}

.history {
    text-align: left;
    padding: 20px;
}

.chat {
    color: white;
}

.person {
    color:white;
}

.first {
    padding: 20px;
    background-color: #8588d6;
}