.home-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
  
  .description {
    flex: 1;
    max-width: 600px;
    margin-right: 20px; /* Add margin to separate from the image */
  }
  
  .image-container {
    flex: 1;
    max-width: 600px;
  }
  
  .website-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add some border-radius for rounded corners */
  }

  h1 {
    font-size: 3em; /* You can adjust the value based on your preference */
  }

  .TakeTest {
    background-color: #f17916;
    border:0px;
  }

  .TakeTest:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .description a {
    color: white;
	  text-decoration: none;
  }
  
  @media screen and (max-width:940px) {
    h1 {
        font-size: 2em; /* You can adjust the value based on your preference */
      }
    .home-container {
        grid-template-columns: 1fr;
    }
    .image-container {
        padding-top: 100px;
    }
    .description {
        padding-top: 100px;

        flex: 1;
        max-width: 70%;
        margin-right: 20px;
    }
  }