.home-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 100px 0 0 0;
}
  
  .description {
    flex: 1;
    max-width: 600px;
    margin-right: 20px; /* Add margin to separate from the image */
    padding: 0 0 0 100px;
  }
  
  .image-container {
    flex: 1;
    max-width: 600px;
  }
  
  .website-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add some border-radius for rounded corners */
  }

  .increase {
    font-size: 4em;
  }

  .TakeTest {
    background-color: #0E1093;
    border:0px;
    margin: 0;
  }

  .TakeTest:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .description a {
    color: white;
	  text-decoration: none;
    text-align: left;
  }

  .aleft {
    text-align: left;
  }
  .homep {
    width: 400px;
  }

  .fbg-image {
    width: 100%;
  }
  
  @media screen and (max-width:940px) {
    h1 {
        font-size: 2em; /* You can adjust the value based on your preference */
      }
    .home-container {
        grid-template-columns: 1fr;
    }
    .image-container {
        padding-top: 100px;
    }
    .description {
        padding: 100px 0 0 0;

        flex: 1;
        max-width: 70%;
        margin-right: 20px;
    }
    .inc {
      font-size: 3em;
    }
    .fbg-image {
      object-fit: cover;
      height: 200px;
    }
  }