.home-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 100px 0 0 0;
}
  
  .description {
    flex: 1;
    max-width: 600px;
    margin-right: 20px; /* Add margin to separate from the image */
  }
  
  .image-container {
    flex: 1;
    max-width: 600px;
  }

  h1 {
    font-size: 5em; /* You can adjust the value based on your preference */
  }

  .description a {
    color: white;
	text-decoration: none;
    text-align: left;
  }

  .aleft {
    text-align: left;
  }
  
  .sbg {
    width: 100%;
    margin-top: -200px;
    position: relative;
    z-index: -5;
  }

  .man {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Add some border-radius for rounded corners */
  }

  .homepp {
    width: 400px;
    position: relative;
    color: white;
    padding: 100px 0 0 0;
  }
  
  @media screen and (max-width:940px) {
    h1 {
        font-size: 2em; /* You can adjust the value based on your preference */
      }
    .home-container {
        grid-template-columns: 1fr;
    }
    .image-container {
        padding-top: 100px;
    }
    .description {
        padding-top: 100px;

        flex: 1;
        max-width: 70%;
        margin-right: 20px;
    }
    .inc {
      font-size: 3em;
    }
    .sbg {
      object-fit: cover;
      height: 200px;
    }
  }