.logwin {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
}

.cred {
    width: 230px;
    height: 50px;
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}

button {
    border: 0px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin: 0px 10px;
    background-color: #0E1093;
    color: white;
}

label {
    color: white;
}