.ReactModal {
    width: 40%;
    height: 80%;
    margin: 8% auto;
    padding: 20px;
    background-color: #6C6EC6;
    color: white;
    border-radius: 20px;
    max-height: 50%;
}

@media screen and (max-width:940px) {
    .ReactModal {
        width: 80%;
        margin: 25% auto;
    }
}