.ReactModal {
    width: 40%;
    height: 80%;
    margin: 8% auto;
    padding: 20px;
    background-color: #3B3B3B;
    color: white;
    border-radius: 20px;
    max-height: 80%;
    overflow-y: auto;
}

@media screen and (max-width:940px) {
    .ReactModal {
        width: 80%;
        margin: 25% auto;
    }
}