.space {
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
}
.button {
    width: 20px;
    height: 20px;
    background-color: black;
    margin:5px;
    transition: 0.5s;
    border-radius: 15px;
}

.movebutton {
    transform: translateX(30px);
    background-color: #000;
}