.App {
  text-align: center;
  color: #6C6EC6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wholebox {
  &::-webkit-scrollbar {
    display: none;
  }

  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  >* {
    scroll-snap-align: start;
    width: 100%;
  }
}

.App-link {
  color: #61dafb;
}

.dabba {
  width: 70%;
  height: 60%;
  margin: auto;
  border: 1px solid #000;
  border-radius: 5%;
  padding: 10px;
}

.one-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navi {
  display: flex;
  flex-direction: row;
}

.rig {
  margin-left: auto;
}

.final {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: calc(80vh - 70px);
}

.lefte {
  border: 1px solid black;
  display: inline-block;
  width: 30%;
  height: 100%;
}

.righte {
  display: inline-block;
  border: 1px solid black;
  width: 70%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}